<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <style>
  body{
      background-image:url('../static/images/img3.jpg');
      background-size:cover;
      background-colour:pink
  }

    .container {
      text-align: center;
      margin-top: 200px;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f2f2f2;
      color: #333;
      text-decoration: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 10px;
    }
  </style>
</head>
<body>
<h1 style="font-size:300%;"><center><b><i>ELECTRONIC STORE</i></center></b></h1>
  <div class="container">
    <a href="loginpage" class="button">Login</a>
    <a href="signup" class="button">Register</a>

  </div>
</body>
</html>